<%= form_for(resource, as: resource_name, url: password_path(resource_name), class:"flex flex-col justify-between gap-y-4 py-2", html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
   <h2 class="my-3 text-center text-3xl font-bold text-sky-500 home-title">Change your password</h2>
  <div class="field w-full flex flex-col my-3">
     <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

<div class="field w-full flex flex-col my-3">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="w-full bg-sky-500 p-2 text-center mb-4 font-bold cursor-pointer hover:bg-sy-800 text-white">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<div class="flex flex-col p-0">
      <%= render "devise/shared/links" %>
</div>
