<section class="sign-up">
  <header class="d-flex mb-3 justify-content-between align-items-center bg-primary text-white">
    <%= link_to root_path, class: "text-white" do %>
     <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <%end%>
    <h2 class= "justify-self-center">ADD NEW CATEGORY</h2>
    <div></div>
  </header>

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %> 
 <%= form_with(model: @category, url: { action: "create" }, class: "border-top border-2") do |form| %>
  <div class="field">
    <%= form.text_field :name, placeholder: "Name", class: "border-top border-2" %>
  </div>
  <div class="field">
    <%= form.text_field :icon, autofocus: true, placeholder: "Icon", type:'url', autocomplete: "", class: ""%>
  </div>
  <div class="actions">
  <%= form.submit "SAVE" %>
  </div>
<% end %>
</section>